appdirs==1.4.0
configobj==5.0.6
google-api-python-client==1.6.2
httplib2==0.10.3
nltk==3.4.5
oauth2client==4.0.0
packaging==16.8
pyasn1==0.2.3
pyasn1-modules==0.0.8
pyparsing==2.1.10
requests==2.13.0
rsa==3.4.2
six==1.10.0
uritemplate==3.0.0
torrequest==0.1.0
