cachetools==4.2.1
certifi==2020.12.5
chardet==4.0.0
click==8.0.0a1
configobj==5.0.6
google-api-core==1.26.1
google-api-python-client==2.0.2
google-auth==1.28.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.53.0
httplib2==0.19.0
idna==2.10
joblib==1.0.1
nltk==3.5
packaging==20.9
protobuf==4.0.0rc2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==2.4.7
-e git+https://github.com/zeeguu-ecosystem/Python-Translators.git@9875e3496ab808c54d2d599374c8508130e5cbde#egg=python_translators
pytz==2021.1
regex==2021.3.17
requests==2.25.1
rsa==4.7.2
six==1.15.0
tqdm==4.59.0
uritemplate==3.0.1
urllib3==1.26.4
wordnik-py3==2.1.2
