appdirs==1.4.0
configobj==5.0.6
google-api-python-client==1.12.8
httplib2==0.15.0
nltk==3.4.5
oauth2client==4.0.0
packaging==16.8
pyasn1==0.4.1
pyasn1-modules==0.2.1
pyparsing==2.1.10
requests==2.20.0
rsa==4.1
six==1.15.0
uritemplate==3.0.0
torrequest==0.1.0
